{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Création de catégorie</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        {{ form_start(form) }}
                            <div class="form-group">
                                <label>Nom</label>
                                {{ form_widget(form.name) }}
                            </div>

                            <input class="btn btn-default" type="submit" value="Créer" />
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
